/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav
{
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #1C1B1C;
	-webkit-box-shadow:  0px 20px 100px 15px #1C1B1C;
	box-shadow:  0px 20px 100px 15px #1C1B1C;
	color: #FF7A00;
}

nav li
{
	display: inline;
	height: 50px;
	line-height: 50px;
}

nav li a
{
	text-decoration: none;
	color: #FF7A00;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

nav li a:hover
{
	font-size: 30px;
	color: #ECEEEE;
	border-bottom: 5px solid #ECEEEE;
}

nav li a:active
{
	color:black;
}

#h_link
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#logo
{
	font-size: 30px;
	float: left;
	margin-left: 10px;
	vertical-align: top;
}

#logo img
{
	width: 50px;
}

#logo a
{
	text-decoration: none;
	line-height: 50px;
	vertical-align: top;
	color: #FF7A00;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#logo a:hover
{
	color: #ECEEEE;
	text-shadow: 0px 0px 15px #FF7A00;
	filter: dropshadow(color=#FF7A00, offx=0, offy=0);
}

#logout
{
	float: right;
	color: #FF7A00;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	margin-right: 10px;
	color: #FF7A00;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#logout:hover
{
	color: #ECEEEE;
}

#logout a
{
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #FF7A00;
}

body
{
	background-color: #1C1B1C;
	background-image:url(/rss_feed/media/img/hexabump.png);
	background-repeat:repeat;
	font-family: "Verdana", "Arial";
	color: #ECEEEE;
	line-height: 20px;
}

.container
{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.article_full
{
	position: relative;
	width: 900px;
	margin: 60px auto;
	-webkit-box-shadow:  0px 20px 100px 15px #1C1B1C;
	box-shadow:  0px 20px 20px 1px #1C1B1C;
	background-color: rgba(00,00,00,0.4);
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.bar_titre
{
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	height: 50px;
	background-color: #1C1B1C;
	border-bottom: 3px solid #FF7A00;
	margin-bottom: 10px;
}

.bar_end
{
	height: 20px;
	background-color: #1C1B1C;
	border-top: 1px solid #FF7A00;
	margin-top: 10px;
	margin-bottom: 30px;
}

h1
{
	line-height: 50px;
	color: #FF7A00;
	font-size: 20px;
	padding: 0px 10px;
}

.article_full p
{
	padding: 0px 10px;
}