/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav
{
	height: 1px;
	width: 100%;
	background-color: #1C1B1C;
	-webkit-box-shadow:  0px 20px 100px 15px #1C1B1C;
	box-shadow:  0px 20px 100px 15px #1C1B1C;
	color: #FF7A00;
}

body
{
	background-color: #1C1B1C;
	background-image:url(/rss_feed/media/img/hexabump.png);
	background-repeat:repeat;
	font-family: "Verdana", "Arial";
	color: #ECEEEE;
	line-height: 20px;
}

.container
{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.article_full
{
	position: relative;
	width: 900px;
	margin: 60px auto;
	-webkit-box-shadow:  0px 20px 100px 15px #1C1B1C;
	box-shadow:  0px 20px 20px 1px #1C1B1C;
	background-color: rgba(00,00,00,0.4);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 40px;
}

.bar_titre
{
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	height: 50px;
	background-color: #1C1B1C;
	border-bottom: 3px solid #FF7A00;
	margin-bottom: 10px;
}

h1
{
	line-height: 50px;
	color: #FF7A00;
	font-size: 20px;
	padding: 0px 10px;
}

.article_full p
{
	padding: 0px 10px;
}

input
{
	padding: 5px 10px;
	background-color: #1C1B1C;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: #FF7A00 solid 1px;
	color: #ECEEEE;
	font-size: 20px;
	margin: 20px 0px;
	cursor: pointer;
}

#inscription
{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

form
{
	margin: 10px auto;
	width: 800px;
	text-align: center;

}

#tog
{
	width: 300px;
	text-align: center;
	height: 50px;
	line-height: 30px;
	margin: 20px auto;
	display: block;
}

.alert-error
{
	height: 40px;
	line-height: 40px;
	background-color: #5D1812;
	border-radius: 10px;
	border: 2px solid red;
	margin: 5px auto;
	padding: 0 10px;
	cursor: pointer;
	position: fixed;
	top: 5px;
	right: 20%;
	left: 20%;
	z-index: 100;
}