RewriteEngine on
RewriteRule ^$ index.php?c=home
RewriteRule ^/$ index.php?c=home
RewriteRule ^home$ index.php?c=home&m=lire
RewriteRule ^gestion$ index.php?c=gestion&m=lire
RewriteRule ^flux$ index.php?c=flux&m=lire
RewriteRule ^connect$ index.php?c=connect
RewriteRule ^connect/inscription$ index.php?c=connect&m=inscription