RewriteEngine on
RewriteRule ^$ index.php?c=home&m=accueil
RewriteRule ^/$ index.php?c=home&m=accueil
RewriteRule ^home$ index.php?c=home&m=accueil
RewriteRule ^home/$ index.php?c=home&m=accueil
RewriteRule ^connect$ index.php?c=connect&m=signin
RewriteRule ^connect/$ index.php?c=connect&m=signin
RewriteRule ^connect/inscription$ index.php?c=connect&m=inscription
RewriteRule ^connect/login$ index.php?c=connect&m=login
RewriteRule ^gestion$ index.php?c=gestion&m=edit
RewriteRule ^gestion/$ index.php?c=gestion&m=edit
RewriteRule ^gestion/edit$ index.php?c=gestion&m=edit
RewriteRule ^gestion/pass$ index.php?c=gestion&m=pass
RewriteRule ^gestion/pseudo$ index.php?c=gestion&m=pseudo
RewriteRule ^flux$ index.php?c=flux&m=liste
RewriteRule ^flux/$ index.php?c=flux&m=liste
RewriteRule ^flux/add$ index.php?c=flux&m=add
RewriteRule ^flux/supprimer$ index.php?c=flux&m=supprimer
RewriteRule ^logout$ index.php?c=logout&m=deco
